@font-face {
    font-family: "Avenir";
    src:
    url(font/AvenirNextLTPro-It.otf),
    url(font/AvenirNextLTPro-Regular.otf);
  }
footer {
    background-color: #060644;
    color: #F49617;
    font-family: avenir;
}
.premiere-bordure {
    border-color: #F49617;
    border: solid 3px;
    display: inline-flex;
    justify-content: space-between;
    display: flexbox;
}
#logo-vik-footer {
    border-radius: 18%;
    height: 85px;
    width: 85px;
}
.adresse {
    text-align: left;
    font-size: 16px;
}
ul {
    list-style-type: none;
}

#lien-vers-nos-reseaux-sociaux {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    height: 24px;
    width: 24px;
}
.plan-du-site {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
}
#inscrivez-vous-a-notre-newsletter {
    font-size: 18;
    color: white;
}
h1 {
    font-size: 18px;
    color: white;
}
#formulaire{
    color: white;
    border: none;
}

ul.credits {
    font-size: 14px;
    list-style: none;
}
ul.credits li {
    display: inline-block;
}
.a-souligner{
    text-decoration: underline;
}
